.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.zip
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/TSI_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/STU_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/README
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/PUR_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/PJL_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/PEL_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/Papuans_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/MXL_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/KHV_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/JPT_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/ITU_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/IBS_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/GIH_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/GBR_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/FIN_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/CLM_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/CHS_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/CHB_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/CEU_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/CDX_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/BEB_sprime_results.tar.gz
data/data_raw/Sprime results for 1000 Genomes non-African populations and SGDP Papuans/contour_plot.R
data/data_raw/eQTL_finemapping_results/README
data/data_raw/eQTL_finemapping_results/eQTL_finemapping.significantAssociations.MAGE.v1.0.txt.gz.tbi
data/data_raw/eQTL_finemapping_results/eQTL_finemapping.significantAssociations.MAGE.v1.0.txt.gz
data/data_raw/eQTL_finemapping_results/eQTL_finemapping.leadVariant_aFCn.MAGE.v1.0.txt.gz.tbi
data/data_raw/eQTL_finemapping_results/eQTL_finemapping.leadVariant_aFCn.MAGE.v1.0.txt.gz
data/data_raw/eQTL_finemapping_results/eQTL_finemapping.credibleSet_summary.MAGE.v1.0.txt.gz
data/data_raw/eQTL_finemapping_results/eQTL_finemapping.allAssociations.MAGE.v1.0.txt.gz.tbi
data/data_raw/eQTL_finemapping_results/eQTL_finemapping.allAssociations.MAGE.v1.0.txt.gz
